<div class="collections-buttons-container">
    <a class="collection-button" href="/noi-karkotok">@Helper.GetString("Női karkötők", (string)ViewData["Website"])</a>
    <a class="collection-button" href="/ferfi-karkotok">@Helper.GetString("Férfi karkötők", (string)ViewData["Website"])</a>
    <a class="collection-button" href="/paros-karkotok">@Helper.GetString("Páros karkötők", (string)ViewData["Website"])</a>
    <a class="collection-button" href="/horoszkop-karkotok">@Helper.GetString("Horoszkóp karkötők", (string)ViewData["Website"])</a>
    <a class="collection-button" href="/egyedi-karkoto-keszito">@Helper.GetString("Ásványkarkötő tervező", (string)ViewData["Website"])</a>
    <a class="collection-button" href="/fonott-karkoto-keszito">@Helper.GetString("Kötött karkötő tervező", (string)ViewData["Website"])</a>
</div>